In [1]:
# library
from urllib.parse import urlencode, unquote
import requests
import json
import math
import numpy as np
import pandas as pd

In [58]:
my_key = '4f785242556a69733731794b4c6f57'

#1달간 목요일, 8-10시 사이의 이용수
dates = [20240307,20240314,20240321,20240328]
times = [7,8,9,10]

use_0307 = 0
use_0314 = 0
use_0321 = 0
use_0328 = 0



for i in dates :
    for j in times:
        url = f'http://openapi.seoul.go.kr:8088/{my_key}/json/tbCycleRentUseTimeInfo/1000/1900/{i}/{j}'
        response = requests.get(url)
        response_text = json.loads(response.text)
        print(i,j,response_text["cycleRentUseTimeInfo"]['list_total_count'],
              len(json.loads(response.content)['cycleRentUseTimeInfo']['row']))
        if i == 20240307 :
            use_0307 += int(response_text["cycleRentUseTimeInfo"]['list_total_count'])
        elif i == 20240314 :
            use_0314 += int(response_text["cycleRentUseTimeInfo"]['list_total_count'])
        elif i == 20240321 :
            use_0321 += int(response_text["cycleRentUseTimeInfo"]['list_total_count'])
        else :
            use_0328 += int(response_text["cycleRentUseTimeInfo"]['list_total_count'])
            
        #url = f'http://openapi.seoul.go.kr:8088/{my_key}/json/tbCycleRentUseTimeInfo/1/{response_text["cycleRentUseTimeInfo"]['list_total_count']}/{i}/{j}'
        #print(len(json.loads(response.content)['cycleRentUseTimeInfo']['row'])

print("\n","use_0307 :" , use_0307,"\n",
      "use_0314 :" , use_0314,"\n",
      "use_0321 : " , use_0321,"\n",
      "use_0328 : " , use_0328)

20240307 7 7015 901
20240307 8 9811 901
20240307 9 5011 901
20240307 10 3291 901
20240314 7 7421 901
20240314 8 10356 901
20240314 9 5363 901
20240314 10 3833 901
20240321 7 7454 901
20240321 8 10366 901
20240321 9 5464 901
20240321 10 3782 901
20240328 7 4424 901
20240328 8 3267 901
20240328 9 4012 901
20240328 10 3465 901

 use_0307 : 25128
 use_0314 : 26973
 use_0321 :  27066
 use_0328 :  15168

In [72]:
my_key = '4f785242556a69733731794b4c6f57'

#1달간 목요일, 8-10시 사이의 이용수
dates = [20240307,20240314,20240321,20240328]
times = [7,8,9,10]

use_0307_detail = pd.DataFrame()
use_0314_detail = pd.DataFrame()
use_0321_detail = pd.DataFrame()
use_0328_detail = pd.DataFrame()

for i in dates :
    for j in times:
        url = f'http://openapi.seoul.go.kr:8088/{my_key}/json/tbCycleRentUseTimeInfo/1/100/{i}/{j}'
        response = requests.get(url)
        response_text = json.loads(response.text)
        length = int(response_text["cycleRentUseTimeInfo"]['list_total_count'])
        
        for k in range(1,length//1000+2):
            url_re = f'http://openapi.seoul.go.kr:8088/{my_key}/json/tbCycleRentUseTimeInfo/{(k-1)*1000+1}/{k*1000}/{i}/{j}'
            response_re = requests.get(url_re)
            response_text_re = json.loads(response_re.text)
            if i == 20240307 :
                use_0307_detail = pd.concat([use_0307_detail,pd.DataFrame(response_text_re['cycleRentUseTimeInfo']['row'])])
            elif i == 20240314 :
                use_0314_detail = pd.concat([use_0314_detail,pd.DataFrame(response_text_re['cycleRentUseTimeInfo']['row'])])
            elif i == 20240321 :
                use_0321_detail = pd.concat([use_0321_detail,pd.DataFrame(response_text_re['cycleRentUseTimeInfo']['row'])])
            else :
                use_0328_detail = pd.concat([use_0328_detail,pd.DataFrame(response_text_re['cycleRentUseTimeInfo']['row'])])

In [73]:
use_0307_detail.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25128 entries, 0 to 290
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RENT_DT      25128 non-null  object
 1   RENT_HR      25128 non-null  object
 2   RENT_ID      25128 non-null  object
 3   RENT_NM      25128 non-null  object
 4   RENT_TYPE    25128 non-null  object
 5   GENDER_CD    25128 non-null  object
 6   AGE_TYPE     25128 non-null  object
 7   USE_CNT      25128 non-null  object
 8   EXER_AMT     25000 non-null  object
 9   CARBON_AMT   25000 non-null  object
 10  MOVE_METER   25128 non-null  object
 11  MOVE_TIME    25128 non-null  object
 12  START_INDEX  25128 non-null  int64
 13  END_INDEX    25128 non-null  int64
 14  RNUM         25128 non-null  object
dtypes: int64(2), object(13)
memory usage: 3.1+ MB

In [74]:
use_0307_detail.head(3)

,RENT_DT,RENT_HR,RENT_ID,RENT_NM,RENT_TYPE,GENDER_CD,AGE_TYPE,USE_CNT,EXER_AMT,CARBON_AMT,MOVE_METER,MOVE_TIME,START_INDEX,END_INDEX,RNUM
0,2024-03-07,7,01720,1720. 도봉구청 옆(중랑천변),정기권,,~10대,1,183.57,1.12,4828.80,20,0,0,1
1,2024-03-07,7,02376,2376. 수서역 6번출구 앞,정기권,,~10대,1,16.16,0.15,627.81,4,0,0,2
2,2024-03-07,7,02175,2175. 신림동걷고싶은문화의거리입구,정기권,,~10대,1,62.23,0.56,2417.83,14,0,0,3

In [83]:
rent_spot_info = pd.read_excel('C:\\Users\\jisu0\\Downloads\\공공자전거 대여소 정보(23.12월 기준)_수정.xlsx')

In [85]:
rent_spot_info

,대여소 검색_[(입력)란에 대여소 번호 입력해서 사용하세요!],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
2,3762,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
5,1397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
8,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
11,4619,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
14,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
17,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
20,3304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
23,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
26,2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
29,1566,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
32,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
35,4496,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
38,4497,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
41,4498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,대여소번호(입력),대여소명,자치구,주소,거치대수,방식,운영여부,설치시기
44,4499,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# url
url = "https://sgisapi.kostat.go.kr/OpenAPI3/stats/searchpopulation.json"

In [6]:
#queryString
queryString = "?" + urlencode(
    {
    "serviceKey":unquote("74017b134e924ceea85a"),
    "pageNo":1,
    "numOfRows":"10",
    "resultType":'json',
    "basDt":'20231123'
    }
)
queryURL = url + queryString

In [8]:
response = requests.get(queryURL)
response